body{
margin: 0;
font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
font-weight: 500;

}
li{
    list-style: none;
}
.header-flex{
    display: flex;
  
}
header{
    display: flex;
    background: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 1010;
}
.search-input{
    padding: 1em 36em;
    border-radius: 50px;
    border: 1px solid black;
    background: hsl(200, 20%, 97%);
}
.search-icon{
    position: relative;
    margin-top: .85em;
    left: 35px;
    color:#6a6f73;
}
.black-friday-text{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
}
.sub-main-content p{
    font-size: 1.1rem;
    font-weight: 400;
     word-spacing: 1px;
}
input::placeholder{
  position: relative;
  right: 32em;
}
.section-2 span h4{
   color: rgb(249, 163, 42);
}
.globe{
    border: 1px solid black;
    padding: .80em .80em;
    margin-top: -1.25em;
    font-size: 1rem;
}
.header-list{
   margin: .5em .5em;
   font-weight: 400;
   font-size: .85rem;
}
.header-list a{
    color: black;
}
a{
    text-decoration: none;
}
header{
    display: flex; 
}
 .login-link{
    text-decoration: none;
    border: 1px solid black;
    padding: 1em 1.5em;
    font-weight: bold;
}

#signup-link{
    background: black;
    padding: 1em 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-content-img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
.course-text{
    font-size: 1rem;
    color: black;
}
.sub-main-content{
    background: white;
    position: absolute;
    top: 15%;
    width: 20%;
    left: 18.75%;
    padding: .5em 1.5em;
}
 .section-1-text{
    font-size: 2rem;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.section-1{
  margin-left: 18em;
  line-height: 2rem;

}
.section-p-text{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;  
    font-weight: 400;
}
.courses{
    display: flex;
    margin-bottom: .5em;
}
.courses-link{
    margin-right: 1em;
    font-size: 1rem;
    font-weight: bold;
    color: #6a6f73;
}
.courses-link:hover{
    color: black;
}

.section-2{
    border: 1px solid #d1d7dc;
    margin: 0 auto;
    width: 65%;
    padding: 1em 3em;
}
.explore-courses{
    border: 1px solid black;
    padding: .5em .5em;
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.explore-courses:hover{
    background: rgb(245, 243, 243);
    z-index: 1;
}
.courses-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.p-text{
    display: flex;
    justify-content: left;
    width: 65%;
    font-weight: 400;

}

.border-image{
    border: 1px solid rgb(176, 176, 176);
}
.sub-2{
    margin: 0 auto;
}
.section-2 h1{
    font-size: 1.5rem;
    font-size: 900;
}
#courses-link{
    color: black;
}
.container-2{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
   
}

.container-2 span h4{
    color:rgb(249, 163, 42);
}
.course-list{
    margin: 0 .5em;
}
.course-author{
    font-size: 12px;
    color: black;
}

 .container-1 h3{
   width: 70%;
   margin-left: 15em;
 }
 .bestseller-btn{
    background:rgb(242, 243, 160);
    padding: 2px 8px;
    font-size: 12px;
    color: black;
 }
 .course{
  line-height: 1.1; 
  justify-content: space-around;
 }
 .container-2 .course-list h4 a{
    color: black;
 }
 .course-text{
   font-size: 1rem;
   width: 50px;
 }
 
 .featured-container{
    background: #f7f9fa;
    padding: 1em 0;
 }
 .featured-2-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
  margin: 0 auto;
  line-height: 1.2;
 }
 .category a{
    color: #5624d0;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 700;
 }
 .category h4{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: .5;
    letter-spacing: -.02rem;
    font-size: 1.25rem;
  
 }
 .featured-container section h3{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
 }
 .category p{
    font-size: 1rem;
    color: #6a6f73;
 }
 section .btn{
    border: 1px solid black;
    padding: .5em;
    color: black;
 }
 .featured-text{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2.4rem;
    display: block;
 }
 .trusted-companies-list h2{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.35;
    letter-spacing: -.02rem;
 }
 .company-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  
 }
 .company-flex p{
    margin: 0;
    padding: 0;
 }
 .companies-list{
    display: flex;
 }
 .list-of-companies-logo{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    flex-wrap: wrap;
 }
 .business-section{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 4em auto;
 
    flex-wrap: wrap;

 }
  
 .udemy-business{
    list-style-type:unset;
 }

 .business-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
 }
 .udemy-business-section-1, .udemy-business-section{
    width: 35%;
    margin: 4em 0;
    line-height: 1.5;
 }
 .udemy-business-section-1 h1{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
 }
 footer{
    background-color: black;
    padding: .5em 0;
    color: white;
    
 }
 .footer-container{
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
 }
 .footer-flex{
    display: flex;
 
    line-height: 1.5;
 }
 .footer-flex li{
    justify-content: space-between;
    margin-right: 6em;
    
 }
 .footer-flex a{
    color: white;
    font-size: .85rem;
    font-weight: 400;
  
 }
 .last-container{
    display: flex;
    justify-content: space-between;
    margin: 2em 2em;
 }
 .star{
    color: rgb(249, 163, 42);
    font-size: .70rem;
    margin-top: 2.2em;
    margin-left: .2em;
 }
 span{
    display: flex;
    margin: 0;
    padding: 0;
 }
 .line-through{
    text-decoration: line-through;
    margin-top: 1em;
 }
 span h3{
    font-size: 1rem;
    font-weight: 700;
    margin-right: .5em;
 }
 .color-udemy-business-link{
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: .75em 1em;
 }
.udemy-business-link{
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding: .75em 1em;

 }
 .udemy-business-link-a{
    background: none;
   
    color: white;
 }
 .flx{
    display: flex;
    border: 1px solid white;
    padding: .5em 2em;

 }
 .txt{
margin-left: .5em;
font-weight: 400;
 }
 .year{
    font-size: 12px;
    font-weight: 400;
 }